<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmQvD1OQTg5BomYBizp1awiqjnR1gEFyU</string>
	<key>GCM_SENDER_ID</key>
	<string>583497923220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.purehisab</string>
	<key>PROJECT_ID</key>
	<string>purehisab-21cf8</string>
	<key>STORAGE_BUCKET</key>
	<string>purehisab-21cf8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583497923220:ios:ecf24d5cbf0b049e929281</string>
</dict>
</plist>